body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa;
    /* Маш цайвар цэнхэр */
    margin: 0;
    color: #006064;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #00acc1;
    /* Усны цэнхэр */
    color: white;
    border-radius: 10px 10px 0 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #00838f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #004d40;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    color: #0097a7;
}